body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dataContainer {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bio {
  font-size: 60px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.waveButton {
  pointer-events: auto;
  cursor: pointer;
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border: none;
  padding: 2.5rem 3rem;
  margin: 2px;
  width: 12vw;
  font-family: inherit;
  font-size: inherit;
  position: relative;
color: black;
  display: inline-block;
}
